<%- include('./partials/header.ejs') %>
    <div class="container mt-4 mb-4 header-text text-center">
        <h4>
            <%=listTitle%> List
        </h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-white">
                    <div class="card-body">
                        <form action="/" method="post">
                            <div class="d-flex">
                                <input type="text" class="form-control add-task m-1" placeholder="New Task..."
                                    name="newItem" required>
                                <button type="submit" name="list" value="<%= listTitle %>"
                                    class="btn purple-btn m-1">+</button>
                            </div>
                        </form>

                        <div class="todo-list">
                            <% newListItem.forEach(item=> {%>
                                <div class="todo-item">
                                    <form action="/delete" method="post">
                                        <div class="checker">
                                            <span class="col-lg-6 col-md-3 col-sm-2">
                                                <input type="checkbox" onchange="this.form.submit()" name="checkbox"
                                                    value="<%= item._id %>">
                                                <input type="hidden" name="listName" value="<%= listTitle %>">
                                            </span>
                                        </div>
                                        <span>
                                            <%= item.name%>
                                        </span>
                                    </form>
                                </div>
                                <%}); %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>










    <%- include('./partials/footer.ejs') %>